* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.d-block {
  width: 100%;
  height: 500px;
}

.carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
}

.randomImg {
  border-radius: 30px;
  height: 400px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.randomImg .randomImgText {
  font-size: 2.5em;
  color: white;
  text-decoration: none;
}

.search {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search .search-bar {
  width: 40%;
  margin-top: 25px;
  text-align: center;
}

.card-img {
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

.city-hero {
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 20px;
}
.city-hero .card-header {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  width: -moz-fit-content;
  width: fit-content;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
.city-hero .card-img {
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.city-hero .city-control {
  display: flex;
  justify-content: center;
}
.city-hero .btn {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border: 1px solid rgb(204, 204, 204);
  color: white;
  border-radius: 10px;
}

.form-page {
  padding-top: 50px;
  flex-grow: 1;
  background-color: grey;
}
.form-page form {
  border-radius: 8px;
  background: white;
  padding: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
.form-page form h1 {
  font-size: 1.6rem;
}
.form-page form label {
  font-weight: bold;
  font-size: 0.9rem;
}
.form-page form .input {
  display: block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 4px;
}
.form-page form p {
  font-size: 0.8rem;
  margin: -5px 0 10px;
}

input[type=radio] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

.formfield {
  margin: 30px 30px 0;
}
.formfield label {
  display: block;
  margin-bottom: 5px;
}

.one-card {
  border-radius: 15px;
}
.one-card Card.Text {
  color: white;
}

.get-one-row {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin: 10px;
  overflow: hidden;
  position: relative;
}
.get-one-row .btn {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border: 1px solid rgb(204, 204, 204);
  color: white;
  margin: 0 10px;
  border-radius: 10px;
}
.get-one-row .card-title {
  font-size: 2em;
}
.get-one-row h1 {
  text-align: center;
  margin: 10px 0;
}
.get-one-row img {
  max-width: 100%;
}
.get-one-row h3 {
  font-size: 1.5em;
  text-decoration: underline;
  padding: 1px;
}
.get-one-row .info-box {
  padding: 10px;
  border: 1px solid grey;
}
.get-one-row .info-box p {
  margin-top: 5px;
}
.get-one-row .one-image {
  height: 100%;
  max-height: 70vh;
  filter: brightness(70%);
}
.get-one-row .button-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.get-one-row .button-box div {
  margin-right: 30px;
}

.carousel {
  margin-bottom: 30px;
}
.carousel .carousel-img {
  height: 250px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  border-radius: 20px;
  filter: brightness(70%);
}
.carousel .caption {
  color: white;
  font-size: 1.5em;
  margin-bottom: 70px;
}

.carousel-title {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
}

.reviewImage {
  width: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  min-width: 100px;
  min-height: 100px;
}

.form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.teahub.io/photos/full/188-1888557_city-of-london-skyline-4k.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-link {
  color: black;
}

.reviewCard {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  margin-top: 10px;
  width: 500px;
  margin: 0 auto;
  padding: 15px 10px 10px 15px;
}
.reviewCard h2 {
  font-size: 1.3em;
  font-weight: 700;
  text-decoration: underline;
}
.reviewCard p {
  padding-bottom: -10px;
}

.review-row {
  display: flex;
  flex-direction: column;
}

.city-list {
  margin-bottom: 30px;
  margin-top: 30px;
}
.city-list .city {
  transition: transform 0.2s;
}
.city-list .city > a {
  text-decoration: none;
  color: #000;
}
.city-list .city .card {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}
.city-list .city:hover {
  transform: scale(1.05);
}/*# sourceMappingURL=main.css.map */